<div>

  <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div>
      <h4 class="pb-4 ">Vendors List </h4>
      <table class="table1">



        <tr align="left" style="color:chocolate">

          <th> First Name </th>
          <th> Last name </th>
          <th> Email</th>
          <th> Phone Number </th>
          <th> Action</th>

        </tr>

        <br>
        <tr *ngFor="let element of vendorList" style="color:rgb(49, 14, 14)">

          <td> {{element.firstName}}</td>
          <td> {{element.lastName}}</td>
          <td> {{element.email}}</td>
          <td> {{element.mobileNo}}</td>

          <td>
            <button (click)="assignVendor(element.id)" class="edit">Assign vendor</button>
          </td>
        </tr>
        <div *ngIf="isLoading">
          <div class="loader"></div>
        </div>

      </table>
      <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = getNext($event)" showFirstLastButtons>

      </mat-paginator>


      <!-- <pagination-controls (pageChange)="pageNo = $event"></pagination-controls>  -->
    </div>

  </div>
</div>