<div>
    <div class="container">

        <form [formGroup]="addplanForm" (ngSubmit)="onSubmit()">
            <h4 class="pb-4">Please fill Plans details</h4>

            <!-- ---------------------------------first row--start-------------------------------- -->
            <!-- <div class="form-row" >
   
                     <div *ngIf="isNewPlan"class="form-group col-md-5 my-2 ml-4" >
                        <label class="label" for = "plan"> 
                            Plan 
                        </label>    
                        <select  name="plan" class="border rounded-lg" placeholder="Plan" class="form-control">
                                <option>{{newplanValue}}</option>
                                <option *ngFor="let plan of plans">{{plan.name}}</option>
                            </select>
                        <a  style="color:rgb(43, 138, 226 ) ;cursor: pointer" (click)="ShowHideButton()">Add New<sup>+</sup></a>

                    </div> 

                    <div  *ngIf="!isNewPlan" class="form-group col-md-5 my-2 mx-4">
                        <label class="label" for = "plan"> 
                            Plan
                        </label> 
                            <input  class="border rounded-lg" name="plan" id="valuee" value="" placeholder="Enter Plan Name"  class="form-control">
                            <a  style="color:rgb(43, 138, 226 ) ;cursor: pointer" (click)="addNewPlan()">Submit</a>
                   </div> -->

            <div class="form-row">
                <div class="form-group col-md-5 my-2 mx-4">

                    <label class="label1" for="plan name">
                        Plan Name
                    </label>
                    <input class="border rounded-lg" placeholder="Plan Name" class="form-control"
                        formControlName="title" [(ngModel)]="planData.title">
                    <!-- <div *ngIf="submitted && f.title.errors">
                        <div *ngIf="f.title.errors.required" style="color:red"></div>
                    </div> -->

                </div>

                <div class="form-group col-md-5 my-2 mx-4">
                    <label class="label" for="plan name">
                        Description
                    </label>
                    <input class="border rounded-lg" placeholder="Description..." class="form-control"
                        formControlName="description" [(ngModel)]="planData.description">
                </div>
            </div>

            <!-- -----------------------second row- start---------------------- -->

            <div class="form-row">
                <div class="form-group col-md-5 my-2 mx-4">
                    <label class="label" for="plan name">
                        Price
                    </label>
                    <input class="border rounded-lg" placeholder="Price in dollar" class="form-control"
                        formControlName="price" [(ngModel)]="planData.price">
                </div>




                <div class="form-group col-md-5 my-2 mx-4">
                    <label class="label" for="plan name">
                        Discounted Price
                    </label>
                    <input class="border rounded-lg" placeholder="Discounted Price" class="form-control"
                        formControlName="discountedPrice" [(ngModel)]="planData.discountedPrice">
                </div>
            </div>
            <!-- -------------------------third row----------------------------------------- -->

            <div class="form-row">

                <div class="form-group col-md-5 my-2 mx-4">
                    <!-- <label class="label" for="validity">
                        Validity
                    </label> -->
                    <mat-label>Validity of Plan</mat-label>
                    <mat-select class="border rounded-lg" class="form-control" formControlName="validity"
                        [(ngModel)]="planData.validity.type">

                        <!-- <option *ngFor="let plan of validity">{{plan.name}}</option> -->

                        <mat-option value="days">Days</mat-option>
                        <mat-option value="months">Month</mat-option>
                        <mat-option value="years">Year</mat-option>
                    </mat-select>
                    <!-- <input class="border rounded-lg" placeholder="Validity of Plan" class="form-control"
                        formControlName="validity" [(ngModel)]="planData.validity"> -->
                </div>

                <!-- <div class="form-row"> -->
                <div class="form-group col-md-5  my-2 ml-4">

                    <mat-label>Features</mat-label>
                    <mat-select formControlName="features" class="form-control" multiple
                        [(ngModel)]="planData.features">
                        <mat-option *ngFor="let feature of featuresList" [value]="feature">
                            {{feature.name}}</mat-option>
                    </mat-select>

                </div>

            </div>


            <!-- ------------------------LAST ROW FOR SUBMIT BUTTON--------------------------- -->
            <div class="form-row">
                <div class="form-group col-md-5 my-2  mx-4">
                    <div>
                        <button mat-raised-button color="primary" class="button">Add Plan</button>
                    </div>
                </div>
            </div>


        </form>
    </div>


</div>