<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
        [opened]="!(isHandset | async)!.matches">
        <mat-toolbar color="primary">Laavant Admin</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
                <mat-icon class="sidenav-icon">dashboard</mat-icon> Dashbard
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/userupdate']">
                <mat-icon class="sidenav-icon">build</mat-icon> Userupdate
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/customers']">
                <mat-icon class="sidenav-icon">people</mat-icon> Customers
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>