
  <div>

    <div class="container">
      <form [formGroup]="addpotentialcustomerForm" class="login-form " >

        <!-- <form [formGroup]="addcustomerForm" (ngSubmit)="onSubmit()"> -->
            <h4 class="pb-4">Please fill Customer details</h4>

            <div class="form-row">
                <div class="form-group col-md-5 my-2 mx-4">

                    <label class="label1" for="first name">
                       Company Name
                    </label>
                    <input class="border rounded-lg" placeholder="Company Name" class="form-control"
                        formControlName="firstName" [ngClass]="{'is-invalid': submitted && f.firstName.errors}"
                        [(ngModel)]="credentials.firstName">
                    <div *ngIf="submitted && f.firstName.errors">
                        <div *ngIf="f.firstName.errors.required" style="color:red"></div>
                    </div>

                </div>

                <div class="form-group col-md-5  my-2 mx-4">
                    <label class="label1" for="last name">
                        Customer Name
                    </label>
                    <input class="border rounded-lg" placeholder="Customer Name" class="form-control"
                        formControlName="lastName" [ngClass]="{'is-invalid': submitted && f.lastName.errors}"
                        [(ngModel)]="credentials.lastName">
                    <div *ngIf="submitted && f.lastName.errors">
                        <div *ngIf="f.lastName.errors.required" style="color:red"></div>
                    </div>
                </div>
            </div>





            <div class="form-row">


                <div class="form-group col-md-5  my-2 mx-4">
                    <label class="lbel1" for="mobile no">
                        Mobile No
                    </label>
                    <input class="border rounded-lg" placeholder=" Enter Mobile Number" class="form-control"
                        formControlName="mobileNo" [ngClass]="{'is-invalid': submitted && f.mobileNo.errors}"
                        [(ngModel)]="credentials.mobileNo">
                    <div *ngIf="submitted && f.mobileNo.errors">
                        <div *ngIf="f.mobileNo.errors.required" style="color:red"></div>
                    </div>
                </div>



                <div class="form-group col-md-5 my-2 mx-4">
                    <label class="label" for="email">
                        Email
                    </label>
                    <input class="border rounded-lg" type="email" placeholder="Enter Email" class="form-control"
                        formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors}"
                        [(ngModel)]="credentials.email">
                    <div *ngIf="submitted && f.email.errors">
                        <div *ngIf="f.email.errors.required" style="color:red"></div>
                    </div>

                </div>
            </div>



            <!-- <div class="form-row">
                <div class="form-group col-md-5 my-2 mx-4">
                    <label class="label1" for="password">
                        Password
                    </label>
                    <input class="border rounded-lg" type="password" placeholder="Enter New Password"
                        class="form-control" formControlName="password"
                        [ngClass]="{'is-invalid': submitted && f.password.errors}" [(ngModel)]="credentials.password">
                    <div *ngIf="submitted && f.password.errors">
                        <div *ngIf="f.password.errors.required" style="color:red"></div>
                    </div>

                </div>

</div> -->
   

             <div class="form-row">
                <div class="form-group col-md-5 my-2 mx-4">
                    <label class="label1" for="password">
                       Address
                    </label>
                    <input class="border rounded-lg" type="password" placeholder="Address"
                        class="form-control" formControlName="password"
                        [ngClass]="{'is-invalid': submitted && f.password.errors}">
                    <div *ngIf="submitted && f.password.errors">
                        <div *ngIf="f.password.errors.required" style="color:red"></div>
                    </div>

                </div>

                </div>

           

            <div class="form-row h-100 align-items-center">
                <div class="form-group col-md-4 my-5  mx-5">
                    <button mat-raised-button color="primary" [disabled]="addpotentialcustomerForm.invalid" class="button">Add
                        Customer</button>
                </div>


            </div>
        </form>
    </div>
    <div>
    </div>
    