<div *ngIf="!userById || isSelected">

  <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <button class="button" [routerLink]="['/addcustomer']">Add Customer<sup> +</sup></button>

    <div>
      <table>
        <tr>
          <th> First Name </th>
          <th> Last Name </th>
          <th> Email</th>
          <th> Role</th>
          <th> Phone Number </th>
          <th> Status</th>
          <!-- <th> Toggle </th> -->
          <th> Action</th>
         
        </tr>
        <br>
        <tr *ngFor="let element of usersData">

          <td> {{element.firstName}}</td>
          <td> {{element.lastName}}</td>
          <td> {{element.email}}</td>
          <td> {{element.role}}</td>
          <td> {{element.mobileNo}}</td>
          <!-- <td> {{element.status}}</td> -->
          <td>
           
            <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="!checked"
            [disabled]="disabled">Active
        </mat-slide-toggle>
          </td>
          <td>
         <mat-icon  [matMenuTriggerFor]="menu" >more_vert</mat-icon>
          <mat-menu #menu="matMenu" yPosition="above" >
            <button mat-menu-item (click)="getUserById(element.id)">
                <mat-icon>edit</mat-icon>Edit</button>
            <button mat-menu-item>
                <mat-icon>gps_fixed</mat-icon>Track </button>
              </mat-menu> 
  
                  <!-- <a (click)="onPass(element)" class="edit"><u>Edit</u></a>  -->
            <!-- <button (click)="getUserById(element.id)" class="edit">Edit</button> -->
            
          </td>
          
        </tr>
        <div *ngIf="isLoading">
          <div class="loader"></div>
        </div>

     

      </table>

      <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = getNext($event)" showFirstLastButtons>

      </mat-paginator>

      <!-- <pagination-controls (pageChange)="pageNo = $event"></pagination-controls> -->

    </div>

  </div>
</div>


<div *ngIf="userById && !isSelected">
  <app-userupdate [user]="userById" (isChanged)="getdata($event)"></app-userupdate>
</div>
              
           

           

       
            
  
         