
.w-100 {
    width: 100%;
}
.w-50{
  width: 50%;
}
.float_left{
  float: right;
}
a:hover {background-color: #e0e5e9;}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 1px solid gray;
  color: blue;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  // font-size: 20px;
  // font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.label{
  color: rgb(95, 93, 91);
}

.button {
  margin-left: 350px;
  background-color: #3f51b5;
  border: none;
  height: 40px;
  width: 150px;
  color: white;
  font-size: 16px;
  // float: left;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 30px;

}
.w-30{
  border: none;
}

