<div>
    <div class="form-row">
        <div class="form-group col-md-4 my-2 mx-4">
            <label class="label" for="addform">
                Click Here To Fill A Product Details!
            </label> <br>
            <button mat-raised-button color="primary" (click)="addProductForm()" class="w-30">Click Here</button>

        </div>

        <div class="form-group col-md-2 my-4 mx-4">

            <h5 style="color: #85868b">OR</h5>
        </div>


        <div class="form-group col-md-4 my-12 mx-4">
            <label class="label" for="choose file">
                Choose Excel File!
            </label> <br>
            <div class="upload-btn-wrapper">
                <button class="btn">Upload</button>
                <input style="color:blue" type="file" accept=".xlsx, .xls" name="myfile"
                    (change)="incomingfile($event)" />

            </div>
        </div>
    </div>
    <div *ngIf="!isShow" class="container">

        <form [formGroup]="addproductsForm" (ngSubmit)="onSubmit()">
            <h4 class="pb-4">Please fill Product details</h4>

            <div class="form-row">
                <div class="form-group col-md-5 my-2 mx-4">
                    <label class="label" for="product name">
                        Product Name
                    </label>
                    <input class="border rounded-lg" placeholder="Product" class="form-control" formControlName="name"
                        [ngClass]="{'is-invalid': submitted && f.name.errors}" [(ngModel)]="productsData.name">
                    <div *ngIf="submitted && f.name.errors">
                        <div *ngIf="f.name.errors.required" style="color:red"></div>
                    </div>
                </div>


                <div *ngIf="isNewCategory2" class="form-group col-md-5  my-2 ml-4">
                    <label class="label" for="Category">
                        Category
                    </label>

                    <select name="category" class="border rounded-lg" placeholder="Category"
                        (change)="onChange($event.target.value)" class="form-control" formControlName="category"
                        [ngClass]="{'is-invalid': submitted && f.category.errors}" [(ngModel)]="productsData.category">
                        <!-- <option>{{categoryValue}}</option> -->
                        <option [value]="category.id" *ngFor="let category of productCategory.data">
                            {{category.name}}

                        </option>
                    </select>
                    <a id="btn" style="color:rgb(43, 138, 226 ) ;cursor: pointer" (click)="ShowHideButton2()">Add
                        New<sup>+</sup></a>

                </div>

                <div *ngIf="!isNewCategory2" class="form-group col-md-5 my-2 mx-4">
                    <label class="label" for="category">
                        Category
                    </label>
                    <input class="border rounded-lg" name="category" id="valuee" value=""
                        placeholder="Enter Category Here" formControlName="category" class="form-control"
                        [(ngModel)]="addCategory.name">
                    <a style="color:rgb(43, 138, 226 ) ;cursor: pointer" (click)="addNewCategory1()">Submit</a>

                </div>
            </div>



            <div class="form-row">
                <div class="form-group col-md-5 my-2 mx-4">
                    <label class="label" for="UOM">
                        UOM
                    </label>
                    <input class="border rounded-lg" placeholder="UOM" class="form-control" formControlName="uom"
                        [ngClass]="{'is-invalid': submitted && f.uom.errors}" [(ngModel)]="productsData.uom">
                    <div *ngIf="submitted && f.uom.errors">
                        <div *ngIf="f.uom.errors.required" style="color:red"></div>
                    </div>
                </div>

                <div *ngIf="isNewCategory1" class="form-group col-md-5  my-2 ml-4">
                    <label class="label" for="sub category">
                        Sub Category
                    </label>

                    <select name="sub category" class="border rounded-lg" placeholder="sub category"
                        class="form-control" formControlName="subCategory"
                        [ngClass]="{'is-invalid': submitted && f.subCategory.errors}"
                        [(ngModel)]="productsData.subCategory">

                        <!-- <option>{{clickMessage}}</option> -->
                        <option [value]="subCategory.id" *ngFor="let subCategory of productSubCategory.data">
                            {{subCategory.name}}</option>


                        <!-- <option *ngFor="let i of productCategory.data">{{i.name}}</option> -->



                    </select>
                    <a id="btn" style="color:rgb(43, 138, 226 ) ;cursor: pointer" (click)="ShowHideButton1()">Add
                        New<sup>+</sup></a>
                </div>

                <div *ngIf="!isNewCategory1" class="form-group col-md-5 my-2 mx-4">
                    <label class="label" for="sub category">
                        Sub Category
                    </label>
                    <input class="border rounded-lg" name="new_category" id="valuee" value=""
                        placeholder="Enter Sub Category Here" formControlName="subCategory" class="form-control"
                        [(ngModel)]="addSubCategory.name">
                    <a style="color:rgb(43, 138, 226 ) ;cursor: pointer" (click)="addNewCategory()">Submit</a>

                </div>
            </div>









            <!-- <div *ngIf="!isShowSubCategory2" class="form-row" >
                            <div *ngIf="isNewCategory2 " class="form-group col-md-5  my-2 ml-4"  >
                               <label style="color: rgb(95, 93, 91);" for = "sub category"> 
                                 Sub Category
                               </label>
                               
                               <select  name="sub category"  class="border rounded-lg" placeholder="sub category" class="form-control" formControlName="subCategory" [ngClass]="{'is-invalid': submitted && f.subCategory.errors}" [(ngModel)]="productsData.subCategory">
                    
                                   <option>{{clickMessage}}</option>
                                   <option>Cleaning</option>
                                    
                               
                                   
                               </select>
                               <a id ="btn" style="color:rgb(43, 138, 226 ) ;cursor: pointer" (click)="ShowHideButton2()">Add New<sup>+</sup></a>
                           </div> </div>
        -->



            <!-- <div  *ngIf="!isNewCategory2" class="form-group col-md-5 my-2 mx-4">
                               <label style="color: rgb(95, 93, 91);" for = "sub category"> 
                                   Sub Category
                               </label> 
                                   <input  class="border rounded-lg" name="new_category" id="valuee" value="" placeholder="Enter Category" formControlName="subCategory" class="form-control" [(ngModel)]="productsData.subCategory" >
                                   <a  style="color:rgb(43, 138, 226 ) ;cursor: pointer" (click)="addNewCategory()">Submit</a>
       
                                </div>
        -->






            <div class="form-row">
                <div class="form-group col-md-5  my-2 mx-4">
                    <label class="label" for="description">
                        Product Description
                    </label>
                    <textarea class="border rounded-lg" placeholder="Description..." class="form-control"
                        formControlName="description" [ngClass]="{'is-invalid': submitted && f.description.errors}"
                        [(ngModel)]="productsData.description"></textarea>
                    <div *ngIf="submitted && f.description.errors">
                        <div *ngIf="f.description.errors.required" style="color:red"></div>
                    </div>
                </div>

                <div class="form-group col-md-2  my-2 ml-4 mr-5">
                    <label class="label" for="sku">
                        SKU #
                    </label>
                    <input class="border rounded-lg" placeholder="GK063-3329" class="form-control" formControlName="sku"
                        [ngClass]="{'is-invalid': submitted && f.sku.errors}" [(ngModel)]="productsData.sku">
                    <div *ngIf="submitted && f.sku.errors">
                        <div *ngIf="f.sku.errors.required" style="color:red"></div>
                    </div>
                </div>

                <div class="form-group col-md-2 my-2 mx-4 ">
                    <label class="label" for="rounding value">
                        Rounding Value
                    </label>
                    <input class="border rounded-lg" type="number" min="0" placeholder="00" class="form-control"
                        formControlName="roundingValue" [ngClass]="{'is-invalid': submitted && f.roundingValue.errors}"
                        [(ngModel)]="productsData.roundingValue">
                    <div *ngIf="submitted && f.roundingValue.errors">
                        <div *ngIf="f.roundingValue.errors.required" style="color:red"></div>
                    </div>

                </div>
            </div>



            <div class="form-row">
                <div class="form-group col-md-5  my-2 mx-4">
                    <label class="label" for="manufacturer">
                        Manufacturer
                    </label>
                    <input class="border rounded-lg" placeholder="manufacturer" class="form-control"
                        formControlName="manufacturer" [ngClass]="{'is-invalid': submitted && f.manufacturer.errors}"
                        [(ngModel)]="productsData.manufacturer">
                    <div *ngIf="submitted && f.manufacturer.errors">
                        <div *ngIf="f.manufacturer.errors.required" style="color:red"></div>
                    </div>
                </div>

                <div class="form-group col-md-2 my-2 mr-0.5 ml-4">
                    <label class="label" for="cost_per_each">
                        Cost Per Each </label>
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>

                        <input class="border rounded-lg" type="number" placeholder="00" class="form-control"
                            formControlName="costPerEach" [ngClass]="{'is-invalid': submitted && f.costPerEach.errors}"
                            [(ngModel)]="productsData.costPerEach">
                        <div *ngIf="submitted && f.costPerEach.errors">
                            <div *ngIf="f.costPerEach.errors.required" style="color:red"></div>
                        </div>

                    </div>
                </div>
                <div class="form-group col-md-1 my-2 ">
                    <label class="label" for="quantity">
                        Quantity
                    </label>


                    <input class="border rounded-lg" type="number" min="0" placeholder="00" class="form-control"
                        formControlName="quantity" [ngClass]="{'is-invalid': submitted && f.quantity.errors}"
                        [(ngModel)]="productsData.quantity">
                    <div *ngIf="submitted && f.quantity.errors">
                        <div *ngIf="f.quantity.errors.rounding_value" style="color:red"></div>
                    </div>

                </div>

                <div class="form-group col-md-2 my-2  ">
                    <label class="label" for="rvDescription">
                        RV Description
                    </label>

                    <select class="border rounded-lg" class="form-control" formControlName="rvDescription"
                        [(ngModel)]="productsData.rvDescription">

                        <option>None</option>
                        <option>Bundle</option>
                        <option>Case</option>
                        <option>Pallet</option>

                    </select>

                </div>


            </div>



            <div class="form-row">

                <div class="form-group col-md-5 my-2 mx-4">
                    <label class="label" for="variation">
                        Variation
                    </label>

                    <select name="variation" (change)="onChangeVariation()" class="border rounded-lg"
                        placeholder="variation" class="form-control" formControlName="variation"
                        [ngClass]="{'is-invalid': submitted && f.variation.errors}" [(ngModel)]="variationType">
                        <option value="Size">Size</option>
                        <option value="Color">Color</option>

                    </select>

                    <div *ngIf="submitted && f.variation.errors">
                        <div *ngIf="f.variation.errors.required" style="color:red"></div>
                    </div>
                </div>

                <!-- <div class="form-group col-md-5 my-2 p-2 mx-4">
                        <label style="color: rgb(95, 93, 91);" for = "image"> 
                            Image 
                        </label> <br>
                            <input class="border rounded-lg" style="color:rgba(33, 33, 218, 0.692)" type= "file"  placeholder="Image" formControlName="image"  [(ngModel)]="productsData.image" >
                         </div> -->

                <div class="form-group col-md-5 my-2 mx-4">
                    <label class="label" for="URL">
                        Image URL
                    </label>
                    <input class="border rounded-lg" placeholder="" class="form-control" formControlName="image"
                        [ngClass]="{'is-invalid': submitted && f.image.errors}" [(ngModel)]="productsData.image">
                    <div *ngIf="submitted && f.image.errors">
                        <div *ngIf="f.image.errors.required" style="color:red"></div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <!-- <div *ngIf="!isColor" class="form-group col-md-5 my-2 mx-4" >
                    <label style="color: rgb(95, 93, 91);" for = "size"> 
                        Size
                    </label> 
                        <input class="border rounded-lg"  placeholder="Enter Product Size" class="form-control" formControlName="productSize"  [ngClass]="{'is-invalid': submitted && f.productSize.errors}" [(ngModel)]="productSize">
                        <div *ngIf="submitted && f.productSize.errors">
                            <div *ngIf="f.productSize.errors.required" style="color:red"></div></div>
                           
                </div> -->


                <div *ngIf="!isSize" class="form-group col-md-5 my-2 mx-4" form>
                    <label class="label" for="colors">
                        colors
                    </label> <br>
                    <div *ngFor="let color of colors" style="display:contents;">

                        <input type="checkbox" (change)="onAddColor(color, $event.target.checked)">{{color.type}}
                    </div>
                </div>

            </div>



            <div *ngIf="isSize" class="form-row">
                <div class="form-group col-md-2 my-2 mx-4">
                    <label class="label" for="height">
                        Height
                    </label>
                    <input class="border rounded-lg" placeholder="00" class="form-control" formControlName="height"
                        [ngClass]="{'is-invalid': submitted && f.height.errors}" [(ngModel)]="productsData.height">
                    <div *ngIf="submitted && f.height.errors">
                        <div *ngIf="f.height.errors.required" style="color:red"></div>
                    </div>

                </div>


                <div class="form-group col-md-2 my-2 mx-5 ">
                    <label class="label" for="length">
                        Length
                    </label>
                    <input class="border rounded-lg" placeholder="00" class="form-control" formControlName="length"
                        [ngClass]="{'is-invalid': submitted && f.length.errors}" [(ngModel)]="productsData.length">
                    <div *ngIf="submitted && f.length.errors">
                        <div *ngIf="f.length.errors.required" style="color:red"></div>
                    </div>

                </div>

                <div class="form-group col-md-2 my-2  ml-4 mr-3">
                    <label class="label" for="width">
                        Width
                    </label>
                    <input class="border rounded-lg" placeholder="00" class="form-control" formControlName="width"
                        [ngClass]="{'is-invalid': submitted && f.width.errors}" [(ngModel)]="productsData.width">
                    <div *ngIf="submitted && f.width.errors">
                        <div *ngIf="f.width.errors.required" style="color:red"></div>
                    </div>

                </div>

                <div class="form-group col-md-2 my-2 mx-5">
                    <label class="label" for="weight">
                        Weight
                    </label>
                    <input class="border rounded-lg" placeholder="00" class="form-control" formControlName="weight"
                        [ngClass]="{'is-invalid': submitted && f.weight.errors}" [(ngModel)]="productsData.weight">
                    <div *ngIf="submitted && f.weight.errors">
                        <div *ngIf="f.weight.errors.required" style="color:red"></div>
                    </div>

                </div>


            </div>

            <!-- 
    <div class="form-row">
        <div class="form-group col-md-5 my-2 p-2 mx-4">
            <label style="color: rgb(95, 93, 91);" for = "status"> 
                Status
            </label> 
                <input class="border rounded-lg"  placeholder="Status" class="form-control" formControlName="status" [(ngModel)]="productsData.status" required>
             </div>

        <div class="form-group col-md-5 my-2 p-2 mx-4">
            <label style="color: rgb(95, 93, 91);" for = "image"> 
                Image 
            </label> <br>
                <input class="border rounded-lg" style="color:rgba(33, 33, 218, 0.692)" type= "file"  placeholder="Image" formControlName="image"  [(ngModel)]="productsData.image" required>
             </div>
  
    </div> -->
            <div class="form-row">
                <div class="form-group col-md-5 my-2  mx-4">
                    <div>
                        <button mat-raised-button color="primary" class="button">Add Product</button>
                    </div>
                </div>


            </div>
        </form>
    </div>
    <!-- <div *ngIf="!isTable">
        <table class="table  table-bordered" id="displayTable">
  
               
      <thead style="color: rgb(102, 99, 95);">
        <tr>
          <th scope="col">Product</th>
         <th scope="col">Description</th>
         <th scope="col">UOM</th>
         <th scope="col">SKU</th>
         <th scope="col">Category</th>
         <th scope="col">Sub_Category</th>
         <th scope="col">Manufacturer</th>
         <th scope="col">CostPerEach</th>
         <th scope="col">Rounding_Value</th>
         <th scope="col">Quantity</th>
         <th scope="col">RV_Description</th>
         <th scope="col">Height</th>
         <th scope="col">Length</th>
         <th scope="col">Width</th>
         <th scope="col">Weight</th>
         <th scope="col">variation1</th>
         <th scope="col">variation2</th>
         <th scope="col">variation3</th>
         <th scope="col">variation4</th>
         <th scope="col">variation5</th>
         <th scope="col">variation6</th>
         <th scope="col">variation7</th>
         <th scope="col">variation8</th>
         <th scope="col">Image</th>
        </tr>

      </thead> 
      
         <tbody *ngFor="let data of this.excelData">
             <tr>
             <td contenteditable='true'>{{data.Product}}</td>
             <td contenteditable='true'>{{data.Description}}</td>
             <td contenteditable='true'>{{data.UOM}}</td>
             <td contenteditable='true'>{{data.SKU}}</td>
             <td contenteditable='true'>{{data.Category}}</td>
             <td contenteditable='true'>{{data.subCategory}}</td>
             <td contenteditable='true'>{{data.Manufacturer}}</td>
             <td contenteditable='true'>{{data.CostPerEach}}</td>
             <td contenteditable='true'>{{data.RoundingValue}}</td>
             <td contenteditable='true'>{{data.Quantity}}</td>
             <td contenteditable='true'>{{data.rvDescription}}</td>
             <td contenteditable='true'>{{data.Height}}</td>
             <td contenteditable='true'>{{data.Length}}</td>
             <td contenteditable='true'>{{data.Width}}</td>
             <td contenteditable='true'>{{data.Weight}}</td>
             <td contenteditable='true'>{{data.variation1}}</td>
             <td contenteditable='true'>{{data.variation2}}</td>
             <td contenteditable='true'>{{data.variation3}}</td>
             <td contenteditable='true'>{{data.variation4}}</td>
             <td contenteditable='true'>{{data.variation5}}</td>
             <td contenteditable='true'>{{data.variation6}}</td>
             <td contenteditable='true'>{{data.variation7}}</td>
             <td contenteditable='true'>{{data.variation8}}</td>
             <td contenteditable='true'>{{data.Image}}</td>
            </tr>
            


         </tbody>
         
         <button mat-raised-button color="primary"  (click)="getTableData()" class="w-30">Add Products</button>

               </table> 
    </div> -->
</div>