   
   <div class="login-page">
       
    <div class="content">
        <!-- <h1 class="app-name">Laavant Admin</h1> -->
        
      

        <form class="login-form" fxFlex [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center">
                <h2 class="app-name">Laavant Admin</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email" type="email" formControlName="email1" [ngClass]="{'is-invalid': submitted && f.email1.errors}" [(ngModel)]="credentials.email">
                    
                    </mat-form-field>
                    <div *ngIf="submitted && f.email1.errors">
                        <div *ngIf="f.email1.errors.required"></div></div>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Password" formControlName="password1" [ngClass]="{'is-invalid': submitted && f.password1.errors}" [(ngModel)]="credentials.password">
                    </mat-form-field>
                    <div *ngIf="submitted && f.password1.errors">
                        <div *ngIf="f.password1.errors.required"></div></div>
                </div>
            </div>
            <!-- <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Remember Me</mat-checkbox>
                </div>
                <div fxFlex  fxLayoutAlign="end">
                    <a href="javascript:void(0)">Forget Password</a>
                </div>
            </div> -->
           
            <div *ngIf="isLoading" >
                <div class="loader"></div>
            </div>
         
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary"  [disabled]="loginForm.invalid" class="w-100">Login</button>
                </div>
            </div>

        </form>
    </div>
</div>