.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-name {
            margin-top: 0px;
            padding-bottom: 10px;
            font-size: 32px;
            color: #3f51b5;
        }
       
        .login-form {
            padding: 40px;
            background: #fff;
            /*width: 500px;*/
            box-shadow: 0 0 10px #ddd;
            input:-webkit-autofill { box-shadow: 0 0 0 30px white inset;}
        }
    }

    &:after {
        content: '';
        background:#3f51b5;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 50%;
        right: 0;
    }
    &:before {
        content: '';
        background: #3f51b5;
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}


  @media screen and (max-width: 667px) {
  .login-page[_ngcontent-c14] .content[_ngcontent-c14] .login-form[_ngcontent-c14] {
    width: 100% !important;
    
}
  }
  .loader {
    position: fixed;
    left:48%;
    top: 50%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3f51b5;
    width: 30px;
    height: 30px;
    -webkit-animation: spin s linear infinite; /* Safari */
    animation: spin 1s linear infinite;

  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }