<mat-card class="p-0">
  <div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50">
      <div class="text-center pt-1 pb-1 border-right-light">
        <mat-icon class="text-blue">people</mat-icon>
        <h4 class="m-0 ">20</h4>
        <small class="m-0 "> Total Customers </small>
      </div>
    </div>
    <div fxFlex="50" fxFlex.gt-sm="50" fxFlex.sm="50">
      <div class="text-center pt-1 pb-1 border-right-light">
        <mat-icon class="text-blue">shopping_basket</mat-icon>
        <h4 class="m-0 ">45</h4>
        <small class="m-0 "> Total Products </small>
      </div>
    </div>
    <div fxFlex="50" fxFlex.gt-sm="30" fxFlex.sm="50">
      <div class="text-center pt-1 pb-1 border-right-light">
        <mat-icon class="text-green">people</mat-icon>
        <h4 class="m-0 ">20</h4>
        <small class="m-0 "> Total Vendors</small>
      </div>
    </div>
    <!-- <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50">
      <div class="text-center pt-1 pb-1 border-right-light">
        <mat-icon class="text-blue">people</mat-icon>
        <h4 class="m-0 ">3010</h4>
        <small class="m-0 ">Parents </small>
      </div>
    </div> 
    <div fxFlex="50" fxFlex.gt-sm="20" fxFlex.sm="50">
      <div class="text-center pt-1 pb-1">
        <mat-icon class="text-red">favorite</mat-icon>
        <h4 class="m-0 ">4070</h4>
        <small class="m-0 ">Total Members</small>
      </div>
    </div> -->
  </div>
</mat-card>


<!-- <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px" style="cursor: pointer;">
      <div fxFlex [routerLink]="['/customers']">
          <app-stat [bgClass]="'bg-white'" [icon]="'people'"  [count]="customersData.length" [label]="'Total Customers!'"></app-stat>
      </div>


      <div fxFlex [routerLink]="['/products']" >
          <app-stat [bgClass]="'success'" [icon]="'shopping_basket'" [count]="productsData.length" [label]="'Total Products!'"></app-stat>
      </div> 
       
       <div fxFlex [routerLink]="['/vendors']">
          <app-stat [bgClass]="'warn'" [icon]="'people'"  [count]="vendorsData.length" [label]="'Total Vendors!'"></app-stat>
      </div>
     
  </div>
   -->



<div class="heading">
  <h2>
    Bar Chart of Customers & Vendors
    <br /><br />

    <!-- <button (click)="getGraphData()" class="btn">Change Data</button> -->

  </h2><br />
</div>
<div class="graph" *ngIf="barChartData">

  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
    [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
</div>