// table {
//     width: 100%;
// }
// table.card {
//     text-align: center;
//     img {
//         border-radius: 5px;
//         margin-top: -25px;
//     }
// }
// table.table {
//     box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
//         0 1px 5px 0 rgba(0, 0, 0, 0.12);
// }

// table.m20 {
//     margin-bottom: 20px;
//     color: black;
// }


// table.th,td{
//     border: 1px solid rgb(198, 231, 201);
//   padding: 10px;
// }
// tr:nth-child(even){background-color: #f2f2f2;}

// tr:hover {background-color: #ddd;}
// th {
//     padding-top: 20px;
//     padding-bottom: 12px;
//     text-align: left;
//     background-color: #4CAF50;
//     color: white;
//     text-size-adjust: 20px;
//   }
//   table {
//   border-collapse: collapse;
// }
// cursor{ 
//     cursor: pointer;
// }
p {
    font-family: Lato;
  }

  .heading{
    text-align:center;
    margin-top: 50px;
  }

  .btn{
      background-color: #3f51b5;
      color: white;
  }
  .graph{
     display: block;
      margin-bottom: 50px;
     }
     .div.mat-card-header-text.mat-card-subtitle {
      color: black;
  }
  .customerss{
    background-color: red;
    padding: 0px;
    color: black;
  }
  .total-customers{
    position: absolute;
  }
