<div>
  <div class="container">
    <div class="content">
      <!-- <h1 class="app-name">Laavant Admin</h1> -->
      <form class="planupdate-form" fxFlex [formGroup]="planupdateForm" (ngSubmit)="onSubmit()">
        <h4 class="pb-4">Please fill Plan details</h4>
        <div fxFlex fxlayout="row" fxlayout.lt-md="column">
          <div fxFlexFill>
            <mat-form-field class="w-100">
              <input matInput placeholder="Plan Name" formControlName="title" [(ngModel)]="plan.title">

            </mat-form-field>
          </div>
        </div>

        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
          <div fxFlexFill>
            <mat-form-field class="w-100">
              <input matInput placeholder="Description" formControlName="description" [(ngModel)]="plan.description">
            </mat-form-field>

          </div>
        </div>

        <div fxFlex fxlayout="row" fxlayout.lt-md="column">
          <div fxFlexFill>
            <mat-form-field class="w-100">
              <input matInput placeholder="Price" formControlName="price" [(ngModel)]="plan.price">
            </mat-form-field>
          </div>
        </div>

        <div fxFlex fxlayout="row" fxlayout.lt-md="column">
          <div fxFlexFill>
            <mat-form-field class="w-100">
              <input matInput placeholder="Discounted Price" formControlName="discountedPrice"
                [(ngModel)]="plan.discountedPrice">

            </mat-form-field>

          </div>
        </div>

        <div fxFlex fxlayout="row" fxlayout.lt-md="column">
          <div fxFlexFill>
            <ng-container *ngIf="plan.validity && plan.validity.type">
              <mat-form-field class="w-100">
                <!-- <input matInput placeholder="Validity of Plan" formControlName="validity" [(ngModel)]="plan.validity"> -->
                <mat-select placeholder="Validity of Plan" formControlName="validity" [(ngModel)]="plan.validity.type">
                  <mat-option [value]="plan.validity.type">{{plan.validity.type}}</mat-option>
                  <mat-option value="days">Days</mat-option>
                  <mat-option value="months">Months</mat-option>
                  <mat-option value="years">Years</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </div>
        </div>

        <!-- <div fxFlex fxlayout="row" fxlayout.lt-md="column">
          <div fxFlexFill>

            <mat-form-field class="w-100" *ngIf="plan.features">
              <input matInput placeholder="Features" formControlName="features" [(ngModel)]="plan.features">
              <mat-select placeholder="Features" multiple *ngFor="let select of plan.features"
                formControlName="features" [(ngModel)]="select.id.name">
                <mat-option *ngFor="let feature of featuresList" [value]="feature.name">
                  {{feature.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-100" *ngIf="!plan.features">
              <mat-select placeholder="Features" multiple formControlName="features" [(ngModel)]="feature">
                <mat-option *ngFor="let feature of featuresList" [value]="feature.name">
                  {{feature.name}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div> -->

        <div fxFlex fxlayout="row" fxlayout.lt-md="column">
          <div fxFlexFill>
            <mat-form-field class="w-100">
              <mat-label>Features</mat-label>
              <mat-select class="formControl" [(ngModel)]="selectFeature"
                (selectionChange)="onChangeFeature($event.value)" [formControl]="toppings" multiple>

                <mat-option *ngFor="let feature of features" [value]="feature">
                  {{feature}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <p>Selected: {{selectValues}}</p> -->
          </div>
        </div>

        <!-- <mat-form-field appearance="fill">
          <mat-label>Toppings</mat-label>
          <mat-select [formControl]="features" multiple>
            <mat-option *ngFor="let feature of features" [value]="feature.id">{{feature.name}}</mat-option>
          </mat-select>
        </mat-form-field> -->

        <div *ngIf="isLoading">
          <div class="loader"></div>
        </div>


        <div class="form-row">

          <div class="form-group col-md-4 my-5  mx-5">
            <a mat-button routerLink="/dashboard" class="button">Back</a>

          </div>


          <div class="form-group col-md-4 my-5  mx-5">
            <button mat-raised-button color="primary" class="button2">Update</button>
          </div>

        </div>
      </form>

    </div>
  </div>


</div>