<div>
    <div class="container">
        <div class="content">
            <!-- <h1 class="app-name">Laavant Admin</h1> -->
            <form class="updateproduct-form" fxFlex [formGroup]="updateProductForm" (ngSubmit)="onSubmit()">
                <!-- <div class="user one">
                    <img src="{{ user.profilePic}}">
                </div> -->
                <h4 class="pb-4">Please fill Product details</h4>

                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Product Name" formControlName="name"
                                [(ngModel)]="product.name">

                        </mat-form-field>

                    </div>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <!-- <input matInput placeholder="Category" formControlName="category"
                                [(ngModel)]="product.category"> -->
                            <mat-select placeholder="Category" formControlName="category"
                                [(ngModel)]="product.category.id">

                                <mat-option [value]="category.id" *ngFor="let category of productCategory.data">
                                    {{category.name}}</mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <mat-label>Subcategory</mat-label>
                            <mat-select class="formControl" [(ngModel)]="product.subCategory.id"
                                (selectionChange)="onChange($event.value)" formControlName="subCategory">

                                <mat-option [value]="subCategory.id"
                                    *ngFor="let subCategory of productSubCategory.data">
                                    {{subCategory.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>


                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="UOM" formControlName="uom" [(ngModel)]="product.uom">

                        </mat-form-field>
                    </div>
                </div>



                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Description..." formControlName="description"
                                [(ngModel)]="product.description">

                        </mat-form-field>
                    </div>
                </div>



                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Manufacturer" formControlName="manufacturer"
                                [(ngModel)]="product.manufacturer">

                        </mat-form-field>
                    </div>
                </div>


                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Cost Per Each " formControlName="costPerEach" type="number"
                                [(ngModel)]="product.costPerEach">

                        </mat-form-field>
                    </div>
                </div>


                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Quantity" formControlName="quantity" type="number"
                                [(ngModel)]="product.quantity">

                        </mat-form-field>
                    </div>
                </div>


                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>

                        <mat-form-field class="w-100">
                            <!-- <input matInput placeholder="RV Description" formControlName="rvDescription"
                                [(ngModel)]="product.rvDescription"> -->

                            <mat-select placeholder="RV Description" formControlName="rvDescription"
                                [(ngModel)]="product.rvDescription">
                                <mat-option [value]="product.rvDescription">
                                    {{product.rvDescription}}</mat-option>
                                <mat-option value="none">None</mat-option>
                                <mat-option value="bundle">Bundle</mat-option>
                                <mat-option value="case">Case</mat-option>
                                <mat-option value="pallet">Pallet</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>





                <!-- <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
        <div fxFlexFill>
            <mat-form-field class="w-100">
                <mat-select placeholder="Role" formControlName="role1"  [(ngModel)]="user.role">
            
            
            <mat-option [value]="user.role" >{{user.role}}</mat-option>

            <mat-option value="customer">customer</mat-option>
            <mat-option value="vendor">vendor</mat-option>
            <mat-option value="admin">admin</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
    </div> -->


                <div *ngIf="isLoading">
                    <div class="loader"></div>
                </div>


                <div fxFlex style="padding: 5%;" fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlexFill>
                        <button mat-raised-button color="primary" class="w-100">Update</button>
                    </div>
                </div>

            </form>

        </div>
    </div>


</div>