
.w-100 {
    width: 100%;
}
.w-50{
  width: 50%;
}
.float_left{
  float: right;
}
a:hover {background-color: #e0e5e9;}

.btn {
  border: 1px solid gray;
  color: blue;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  // font-size: 20px;
  // font-weight: bold;
}

