
.w-100 {
  width: 100%;
}
.w-50{
width: 50%;
}
.float_left{
float: right;
}
a:hover {background-color: #e0e5e9;}

.button {
  margin-left: 350px;
  background-color: #3f51b5;
  border: none;
  height: 40px;
  width: 150px;
  color: white;
  font-size: 16px;
  // float: left;
  cursor: pointer;
  margin-top: 50px;

}

.label1{
color: rgb(95, 93, 91);

}
// button:hover {background-color: #2f3b81;}



