<div>

    <div class="container">

        <form [formGroup]="addvendorForm" (ngSubmit)="onSubmit()">
            <h4 class="pb-4">Please fill Vendor details</h4>

            <div class="form-row">
                <div class="form-group col-md-5 my-2 mx-4">

                    <label class="label1" for="first name">
                        First Name
                    </label>
                    <input class="border rounded-lg" placeholder="Enter First Name" class="form-control"
                        formControlName="firstName" [ngClass]="{'is-invalid': submitted && f.firstName.errors}"
                        [(ngModel)]="vendorData.firstName">
                    <div *ngIf="submitted && f.firstName.errors">
                        <div *ngIf="f.firstName.errors.required" style="color:red"></div>
                    </div>

                </div>

                <div class="form-group col-md-5  my-2 mx-4">
                    <label class="label1" for="last name">
                        Last Name
                    </label>
                    <input class="border rounded-lg" placeholder="Enter Last Name" class="form-control"
                        formControlName="lastName" [ngClass]="{'is-invalid': submitted && f.lastName.errors}"
                        [(ngModel)]="vendorData.lastName">
                    <div *ngIf="submitted && f.lastName.errors">
                        <div *ngIf="f.lastName.errors.required" style="color:red"></div>
                    </div>
                </div>
            </div>





            <div class="form-row">


                <div class="form-group col-md-5  my-2 mx-4">
                    <label class="lbel1" for="mobile no">
                        Mobile No
                    </label>
                    <input class="border rounded-lg" placeholder=" Enter Mobile Number" class="form-control"
                        formControlName="mobileNo" [ngClass]="{'is-invalid': submitted && f.mobileNo.errors}"
                        [(ngModel)]="vendorData.mobileNo">
                    <div *ngIf="submitted && f.mobileNo.errors">
                        <div *ngIf="f.mobileNo.errors.required" style="color:red"></div>
                    </div>
                </div>



                <div class="form-group col-md-5 my-2 mx-4">
                    <label class="label" for="email">
                        Email
                    </label>
                    <input class="border rounded-lg" type="email" placeholder="Enter Email" class="form-control"
                        formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors}"
                        [(ngModel)]="vendorData.email">
                    <div *ngIf="submitted && f.email.errors">
                        <div *ngIf="f.email.errors.required" style="color:red"></div>
                    </div>

                </div>
            </div>



            <div class="form-row">
                <div class="form-group col-md-5 my-2 mx-4">
                    <label class="label1" for="password">
                        Password
                    </label>
                    <input class="border rounded-lg" type="password" placeholder="Enter New Password"
                        class="form-control" formControlName="password"
                        [ngClass]="{'is-invalid': submitted && f.password.errors}" [(ngModel)]="vendorData.password">
                    <div *ngIf="submitted && f.password.errors">
                        <div *ngIf="f.password.errors.required" style="color:red"></div>
                    </div>

                </div>

                <!-- <div *ngIf="isSHowGroup" class="form-group col-md-5  my-2 ml-4"  >
                                                      <label class="label1" for = "choose group"> 
                                                          Choose Group 
                                                      </label>
                                                      
                                                      <select  name="choose group" class="border rounded-lg" placeholder="Choose Group" class="form-control" formControlName="customerGroup"  [ngClass]="{'is-invalid': submitted && f.customerGroup.errors}" [(ngModel)]="vendorData.customerGroup">
                                                          <option>{{clickMessage}}</option>
                                                          <option [value]="i.id" *ngFor="let i of customerGroup">{{i.name}}</option>                                                        
                                                      </select>
                                                      <a style="color:rgb(43, 138, 226 ) ;cursor: pointer" (click)="ShowHideButton1()">Add New<sup>+</sup></a>
                                                  </div>  -->

                <!-- <div  *ngIf="!isSHowGroup1" class="form-group col-md-5  my-2 ml-4" >
                                                      <label class="label1" for = "choose group"> 
                                                          Choose Group 
                                                      </label>
                                                      <input class="border rounded-lg" placeholder="Enter New Group" class="form-control" formControlName="customerGroup" id="valuee" value="" [ngClass]="{'is-invalid': submitted && f.mobileNo.errors}"  [(ngModel)]="vendorData.customerGroup">
                                                      <div *ngIf="submitted && f.customerGroup.errors">
                                                          <div *ngIf="f.customerGroup.errors.required" style="color:red"></div></div>
                                                          <a style="color:rgb(43, 138, 226 ) ;cursor: pointer" (click)="addNewGroup()">Submit</a>
  
                                                       
  
                                                  </div>  -->
            </div>


            <div class="form-row h-100 align-items-center">
                <div class="form-group col-md-4 my-5  mx-5">
                    <button mat-raised-button color="primary" [disabled]="addvendorForm.invalid" class="button">Add
                        Vendor</button>
                </div>


            </div>
        </form>
    </div>
    <div>
    </div>