.userupdate-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-name {
            margin-top: 0px;
            padding-bottom: 10px;
            font-size: 32px;
        }
       
        .userupdate-form {
            padding: 40px;
            background: #fff;
            width: 500px;
            box-shadow: 0 0 10px #ddd;
            input:-webkit-autofill { box-shadow: 0 0 0 30px white inset;}
        }
    }

    &:after {
        content: '';
        background:#3f51b5;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 50%;
        right: 0;
    }
    &:before {
        content: '';
        background: #3f51b5;
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
  
}




.user {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .user.one {
    left: 40%;
    position: relative;
}

@media screen and (max-width: 667px) {
    .user.one {
        left: 30%;
        position: relative;
  }
}
@media screen and (max-width: 320px) {
    .user.one {
        left: 26%;
        position: relative;
  }
}
  .one {
    background-image: url('https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png');
  }

  .loader {
    position: fixed;
    left: 57%;
    top: 50%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3f51b5;
    width: 30px;
    height: 30px;
    -webkit-animation: spin s linear infinite; /* Safari */
    animation: spin 1s linear infinite;

  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader {
    position: fixed;
    left: 57%;
    top: 50%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3f51b5;
    width: 30px;
    height: 30px;
    
    -webkit-animation: spin 4s linear infinite; 
    animation: spin 1s linear infinite;
  }
  
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .button {
  margin-left: 200px;
  background-color: #3f51b5;
  border: none;
  height: 40px;
  width: 150px;
  color: white;
  font-size: 16px;
  float: left;
  cursor: pointer;

}
.button2 {
  margin-right: 200px;
  background-color: #3f51b5;
  border: none;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 16px;
  float: right;
  cursor: pointer;

}