<div>
  <div class="container">
      <div class="content">
          <!-- <h1 class="app-name">Laavant Admin</h1> -->
          <form class="userupdate-form" fxFlex [formGroup]="vendorupdateForm" (ngSubmit)="onSubmit()">
              <div class="user one">
                  <img src="{{ vendor.profilePic}}">
              </div>
              <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                  <div fxFlexFill>
                      <mat-form-field class="w-100">
                          <input matInput placeholder="First Name" formControlName="firstName"
                              [(ngModel)]="vendor.firstName">

                      </mat-form-field>

                  </div>
              </div>
              <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                  <div fxFlexFill>
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Last Name" formControlName="lastName"
                              [(ngModel)]="vendor.lastName">
                      </mat-form-field>

                  </div>
              </div>


              <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                  <div fxFlexFill>
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Mobile No" formControlName="mobileNo"
                              [(ngModel)]="vendor.mobileNo">

                      </mat-form-field>

                  </div>
              </div>





             

       <div *ngIf="isLoading">
                  <div class="loader"></div>
              </div>

              <div class="form-row">

                  <div class="form-group col-md-4 my-5  mx-5">
                      <a mat-button routerLink="/dashboard" class="button">Back</a>

                  </div>


                  <div class="form-group col-md-4 my-5  mx-5">
                      <button mat-raised-button color="primary" class="button2">Update</button>
                  </div>

              </div>
          </form>

      </div>
  </div>


</div>
