<div class="container">
  <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <button class="button" [routerLink]="['/addproduct']">Add Product<sup> +</sup></button>
    <table>



      <tr>

        <th> Image </th>
        <th> Name </th>
        <th> Description </th>
        <th> Price</th>
        <th> PDF</th>
        <th> Action</th>


      </tr>

      <br>
      <tr *ngFor="let element of productsList " style="color:rgb(49, 14, 14)">
        <td class="img"><img alt="Image Not Found" src="{{element.image}}"><br>
          <div class="upload-btn-wrapper">
            <button class="btn">Upload New<sup>+</sup></button>
            <input accept="image/*" (change)="fileProgress($event,element)" type="file" name="myfile" />
          </div>
        </td>


        <td> {{element.name}}</td>
        <td> {{element.description}}</td>
        <td>${{element.costPerEach}}</td>
        <td class="pdf">
          <div *ngIf="element.pdf"><a href="{{element.pdf}}">
              <mat-icon>picture_as_pdf</mat-icon>
            </a></div>
          <div *ngIf="element.pdf===''">
            <mat-icon color="warn">cloud_upload</mat-icon>
          </div>
          <br>
          <div class="upload-btn-wrapper">
            <button class="btn">Upload<sup>+</sup></button>
            <input accept=".pdf" (change)="uploadPDF($event,element.id)" type="file" name="myfile" />
          </div>
        </td>


        <!-- <td class="pdf" *ngIf="isNotPdf"><mat-icon>note_add</mat-icon><br>
                    <div class="upload-btn-wrapper">
                      <button class="btn">Upload<sup>+</sup></button>
                    <input accept=".pdf" (change)="uploadPDF($event,element.id)"type="file" name="myfile" />
                    </div>
                   </td> -->


                   <td>
                    <mat-icon  [matMenuTriggerFor]="menu" >more_vert</mat-icon>
                     <mat-menu #menu="matMenu" yPosition="above" >
                       <button mat-menu-item (click)="onDataPass(element)">
                           <mat-icon>edit</mat-icon>Edit</button>
                       <button mat-menu-item (click)="onPass(element.id)">
                           <mat-icon>assignment</mat-icon>Assign </button>
                         </mat-menu> 
                   </td>


<!-- 
        <td>

          <button (click)="onPass(element.id)" class="text">Assign</button>
          <span> | </span>
          <button (click)="onDataPass(element)" class="text2">Edit</button>

        </td> -->
      </tr>

      <div *ngIf="isLoading">
        <div class="loader"></div>
      </div>
    </table>

    <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = getNext($event)" showFirstLastButtons>

    </mat-paginator>

    <!-- <pagination-controls (pageChange)="pageNo = $event"></pagination-controls>  -->
  </div>



  <!-- <button class="button" (click)="nxt();"style="float:right">>></button>
  
      <button class="button" (click)="pre();"style="float:right;"><<</button>
       -->
</div>