
<div>
    <div clasd="container">
      <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
        <div>
            <table  style="background-color: rgb(232, 238, 238); border: none">
    
                 
            
                <tr style="color:chocolate" >
                    
                    <th> Image </th>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Price</th>
                </tr>
                
                  
                      <tr  *ngFor="let element of productsList "style="color:rgb(49, 14, 14)"> 
                      
                   <td class="img"><img src="{{element.image}}"></td>
                     <td> {{element.name}}</td>
                     <td> {{element.description}}</td>
                     <td>${{element.costPerEach}}</td>
                     
                         </tr> 
    
                   </table>
                   <div *ngIf="isLoading" >
                    <div class="loader"></div>
                </div> 
                <mat-paginator #paginator 
          [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="pageEvent = getNext($event)"
          showFirstLastButtons>
          
  </mat-paginator>
            
            <!-- <pagination-controls (pageChange)="pageNo = $event"></pagination-controls>  -->
        </div>
        
       
    </div>
    </div>
    </div>
    