<div id="sidebar">
    <mat-nav-list>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/customers']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Customers' | translate }}
        </a>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/vendors']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Vendors' | translate }}
        </a>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/potentialcustomer']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Potential_Customer' | translate }}
        </a>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/products']">
            <mat-icon class="sidenav-icon">shopping_basket</mat-icon> {{ 'Products' | translate }}
        </a>

        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/plans']">
            <mat-icon class="sidenav-icon">list_alt</mat-icon> {{ 'Plans' | translate }}
        </a>


        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/payments']">
            <mat-icon class="sidenav-icon">payment</mat-icon> {{ 'Payments' | translate }}
        </a>




    </mat-nav-list>
</div>