<div>

  <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div>
      <!-- <button class="button" [routerLink]="['/plans']">Add Plan<sup> +</sup></button> -->

      <table>



        <tr align="left" class="main" style="color:chocolate">

          <th> Customer Name </th>
          <th> Plan Name</th>
          <th> Date</th>

          <!-- <th> Pending Amount</th> -->
          <th>Paid Ammount</th>

        </tr>

        <br>
        <tr *ngFor="let element of usersData" style="color:rgb(49, 14, 14)">

          <td> {{element.name}}</td>
          <td> {{element.plan}}</td>
          <td> {{element.date}}</td>
          <td> $ {{element.amount}}</td>


          <!-- <td >
                    <a (click)="onPass(element)" style="color:#2f3b81; cursor: pointer;"><u>Edit</u></a>                    
                     </td>                -->
        </tr>
        <div *ngIf="isLoading">
          <div class="loader"></div>
        </div>

      </table>

      <!-- <mat-paginator #paginator 
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = getNext($event)"
        showFirstLastButtons>
        
</mat-paginator> -->

      <!-- <pagination-controls (pageChange)="pageNo = $event"></pagination-controls> -->

    </div>

  </div>
</div>