<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
  <button class="button" [routerLink]="['/addpotentialcustomer']">Add Potential Customer<sup> +</sup></button>

  <div>
    <table>
      <tr>
        <th> Company </th>
        <th> Customer Name </th>
        <th> Email</th>
        <th> Address</th>
        <th> Phone Number </th>
        <!-- <th> Status</th>-->
        <th> Action</th> 
      </tr>
      <br>
      <tr *ngFor="let element of usersData">

        <td> {{element.firstName}}</td>
        <td> {{element.lastName}}</td>
        <td> {{element.email}}</td>
        <td> {{element.role}}</td>
        <td> {{element.mobileNo}}</td>
        <td> {{element.status}}</td>

        <td>
          <mat-menu #msgMenu="matMenu">
            <button mat-menu-item (click)="edit()">
              <mat-icon>edit</mat-icon>Edit
          </button>
            <button mat-menu-item (click)="deleteUser()">
              <mat-icon>delete</mat-icon>Delete
          </button>
            <button mat-menu-item (click)="userProfile()">
              <mat-icon>open_in_new</mat-icon>Manage
          </button>

        </mat-menu>
          <!-- <a (click)="onPass(element)" class="edit"><u>Edit</u></a>  -->
          <!-- <button (click)="getUserById(element.id)" class="edit">Edit</button> -->

        </td>
      </tr>
      <div *ngIf="isLoading">
        <div class="loader"></div>
      </div>
    
    </table>

    <!-- <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = getNext($event)" showFirstLastButtons>

    </mat-paginator> -->

    <!-- <pagination-controls (pageChange)="pageNo = $event"></pagination-controls> -->

  </div>

</div>

