<div *ngIf="!planById || isSelected">
  <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <button class="button" [routerLink]="['/addplans']">Add Plan<sup> +</sup></button>

    <div>
      <table>


        <tr>
          <th> Name </th>
          <th> Description </th>
          <th> $ Price</th>
          <th> $ Discounted Price</th>
          <!-- <th> Phone Number </th>
          <th> Status</th>-->
          <th> Action</th>

        </tr>

        <br>
        <tr *ngFor="let element of planList">

          <td> {{element.title}}</td>
          <td> {{element.description}}</td>
          <td> {{element.price}}</td>
          <td> {{element.discountedPrice}}</td>
          <!-- <td>{{element.role}}</td>
          <td> {{element.validity}}</td>
          <td> {{element.features}}</td> -->

          <td>

            <!-- <a (click)="onPass(element)" class="edit"><u>Edit</u></a> -->
            <button (click)="getPlanById(element.id)" class="text">Edit</button>

          </td>
        </tr>
        <div *ngIf="isLoading">
          <div class="loader"></div>
        </div>

      </table>

      <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = getNext($event)" showFirstLastButtons>

      </mat-paginator>

      <!-- <pagination-controls (pageChange)="pageNo = $event"></pagination-controls> -->

    </div>

  </div>
</div>

<div *ngIf="planById && !isSelected">
  <app-planupdate [plan]="planById" (isChanged)="getdata($event)"></app-planupdate>
</div>