table {
    width: 100%;
    background-color: rgb(232, 238, 238);
}
table.card {
   text-align: center;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}
table.table {
    box-shadow: 0 3px 1px -2px rgba(34, 3, 3, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

table.m20 {
    margin-bottom: 20px;
}

table.th,td{
  border-bottom:0px !important;
  padding: 10px;
  text-align: center;

}
tr:nth-child(even){background-color: #f2f2f2;}


tr:hover {background-color: #ddd;
  
}

th {
    padding-top: 20px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3f51b5;
    color: white;
    text-size-adjust: 20px;
  }
  table {
  border-collapse: collapse;
}

.loader {
    position: fixed;
    left: 57%;
    top: 50%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3f51b5;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 4s linear infinite; /* Safari */
    animation: spin 1s linear infinite;

  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .button {
    float:right;
    background-color: #3f51b5;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 2px 2px;
    margin-bottom: 20px;
    cursor: pointer;
  
  }
  button:hover {background-color: #2f3b81;}
.text{
    color: white;
    cursor: pointer;
    background-color:#3f51b5;
    border: none;
    width: 60px;
    font-size: 15px;
}

  
  
