<div>
    <div class="container">
        <div class="content">
            <!-- <h1 class="app-name">Laavant Admin</h1> -->
            <form class="userupdate-form" fxFlex [formGroup]="userupdateForm" (ngSubmit)="onSubmit()">
                <div class="user one">
                    <img src="{{ user.profilePic}}">
                </div>
                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="First Name" formControlName="firstName"
                                [(ngModel)]="user.firstName">

                        </mat-form-field>

                    </div>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Last Name" formControlName="lastName"
                                [(ngModel)]="user.lastName">
                        </mat-form-field>

                    </div>
                </div>


                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Mobile No" formControlName="mobileNo"
                                [(ngModel)]="user.mobileNo">

                        </mat-form-field>

                    </div>
                </div>


                <!-- <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Country" formControlName="country" [(ngModel)]="user.country">

                        </mat-form-field>
                        <div *ngIf="submitted && f.country1.errors">
                    <div *ngIf="f.country1.errors.required"></div></div>
                    </div>
                </div> -->



                <!-- 
                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Address" formControlName="address" [(ngModel)]="user.address">

                        </mat-form-field>
                        <div *ngIf="submitted && f.address1.errors">
                    <div *ngIf="f.address1.errors.required"></div></div>
                    </div>
                </div>
 -->




                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput type="date" placeholder="Date of Birth" formControlName="dob"
                                [(ngModel)]="user.dob">

                        </mat-form-field>

                    </div>
                </div>


                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput type="date" placeholder="Anniversary" formControlName="anniversary"
                                [(ngModel)]="user.otherInformation.anniversary">

                        </mat-form-field>

                    </div>
                </div>


                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>

                        <mat-form-field class="w-100">
                            <mat-label>Choose Group</mat-label>
                            <mat-select class="formControl" [(value)]="selected"
                                (selectionChange)="onChangeGroup($event.value)">
                                <mat-option *ngFor="let group of customersGroup" [value]="group.id">
                                    {{group.name}}
                                </mat-option>

                            </mat-select>

                        </mat-form-field>

                    </div>
                </div>

                <!-- ------------------------------------------------------------------------------------------------------ -->

                <!-- <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
        <div fxFlexFill>
            <mat-form-field class="w-100">
                <mat-select placeholder="Role" formControlName="role1"  [(ngModel)]="user.role">
            
            
            <mat-option [value]="user.role" >{{user.role}}</mat-option>

            <mat-option value="customer">customer</mat-option>
            <mat-option value="vendor">vendor</mat-option>
            <mat-option value="admin">admin</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
    </div> -->


                <div *ngIf="isLoading">
                    <div class="loader"></div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-4 my-5  mx-5">
                        <a mat-button routerLink="/dashboard" class="button">Back</a>

                    </div>


                    <div class="form-group col-md-4 my-5  mx-5">
                        <button mat-raised-button color="primary" class="button2">Update</button>
                    </div>

                </div>
            </form>

        </div>
    </div>


</div>